/* html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

} */

.underline{
    text-decoration: underline;
}

.large-font {
    font-size: larger;
}

.round-btn {
    border-radius: 2rem;
    font-size: smaller;
}

.form-radius {
    border-radius: .7rem;
    color: rgb(41, 75, 6);
    background-size: cover;
    background-image: url("/Users/hasif/Desktop/Haris Intern task/Authentication/asset/images/background/contbackground.jpg");
    opacity: 1;
}



.authentication-form {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
}

.authentication-body {
    background-image: url("/Users/hasif/Desktop/Haris Intern task/Authentication/asset/images/background/logbg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.red-color {
    color: brown;
}

.logo-image {
    width: 80px;
    border-radius: 100%;
}

.avatar {
    width: 60%;
    border-radius: 100%;

}

.authentication-form {
    width: 360px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
}



.google-font {
    font-family: 'Sahitya';

}


.top-div {
    background-color: #ddc9a3;
    color: black;
    font-weight: bolder;
    text-align: center;
}

.main-logo {
    height: 100px;
    width: 245px;

}

.search-box {
    background-color: black;
    color: #fff;
    border-radius: 25px;
    height: 40px;

}

.search-box::-webkit-input-placeholder {
    color: #fff;
}

hr {
    border-top: 1px solid rgba(7, 7, 7, 0.469);
}

.input-icons i {
    position: absolute;
    margin-top: 4px;
}

.input-icons {
    width: 100%;
    margin-top: -17px;
}

.icon {
    padding: 10px;
    color: white;
    min-width: 50px;
    padding-top: 15px;
}

.input-field {
    width: 100%;
    padding-left: 40px;
}

.header-icon {
    font-size: large;
    padding-top: 40px;
    color: black;
}

.section-top {
    text-align: center;
    background-color: black;
    color: #fff;
}

.bold-text {
    font-weight: bold;
}



.list-card {
    max-width: 100%;
    min-width: 100%;
    height: auto;
    border: none;

}

.help-text {
    max-width: 100%;
    height: 100%;
    min-width: 100%;
}

.social-btn {

    padding: 10px;
    border-radius: 50%;
    border: 2px solid black;

}



.page-container {
    min-width: 130px;
    max-width: 130px;

}

.reviews {
    height: 25px;
}


.text-hider {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.line-through {
    padding-left: 3%;
    text-decoration: line-through;
}

.column-grid {
    display: grid;
    justify-content: space-evenly;
}

.cart-image {
    width: 100%;
    height: auto;
}


.cart-quantity input {
    width: 30%;
}

.cart-quantity button.btn-outline-dark {

    font-size: medium;
}





@media only screen and (max-width: 600px) {
    .authentication-form {
        width: 300px;
    }
}


@media only screen and (max-width: 420px) {

    .cart-text h4 {
        font-size: 11px;

    }

    .cart-text p.text-secondary {
        font-size: 10px;
        margin-top: -7px;
    }

    .cart-para-text {
        margin-top: 45px;
        font-size: 10px;
    }

    .cart-para-text p {
        margin-top: -17px;
    }

    .cart-quantity {
        margin-top: 30px;
        margin-left: 25px;
        display: flex;
    }

    .cart-quantity button.btn-outline-dark {

        width: 20%;
        font-size: large;

    }

    .cart-quantity input {
        width: 20%;
        vertical-align: center;
    }

}

@media only screen and (min-width: 420px) {

    .cart-text h4 {
        font-size: 100%;

    }

    .cart-text p.text-secondary {
        font-size: 100%;
        margin-top: -10px;
    }

    .cart-para-text {
        margin-top: 45px;
        font-size: 100%;
    }

    .cart-para-text p {
        margin-top: -17px;
    }

    .cart-quantity input {
        width: 30%;
    }

    .cart-quantity button.btn-outline-dark {

        font-size: medium;
    }

}

@media(max-width: 320px) {
    .cart-text h4 {
        font-size: 8px;
    }

    .cart-text p.text-secondary {
        font-size: 6px;
        margin-top: -7px;
    }

    .cart-para-text {
        margin-top: 45px;
        font-size: 7px;
    }

    .cart-para-text p {
        margin-top: -17px;
    }

    .cart-quantity {
        margin-top: 30px;
        margin-left: 25px;
        display: flex;
    }

    .cart-quantity button.btn-outline-dark {

        width: 25%;
        font-size: medium;

    }

    .cart-quantity input {
        width: 32%;
        align-items: right;
    }

}

